@inherits LayoutComponentBase

<main>
    <article class="content px-4">
        @Body
    </article>
</main>

<div id="blazor-error-ui">
    Ha ocurrido un error.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>

<script src="js/download.js"></script>
